引入模块

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt

创建示例DataFrame

In [3]:
# 用作案例 不要删 ！！！
data=np.random.randint(0,150,size=(2,8))
index=["rose","jack"]
columns=pd.MultiIndex.from_product([["期中","期末"],["一模","二模"],["语文","英语"]])
df = DataFrame(data,index,columns)
df

      期中                期末
      一模      二模        一模      二模
      语文  英语  语文   英语   语文  英语  语文  英语
rose  60  47  55  123  135  91  72  55
jack  32   8  87    2   27  45  55  36

## 1. 索引的堆（stack）

- ``stack()``
- ``unstack()``

In [4]:
df

      期中                期末
      一模      二模        一模      二模
      语文  英语  语文   英语   语文  英语  语文  英语
rose  60  47  55  123  135  91  72  55
jack  32   8  87    2   27  45  55  36

### stack() columns -> index 列标题变行标题（数据也会跟着标题走）

In [5]:
df.stack() # 把列索变成引行索引

         期中        期末
         一模   二模   一模  二模
rose 英语  47  123   91  55
     语文  60   55  135  72
jack 英语   8    2   45  36
     语文  32   87   27  55

对于单级列索引，列索引没了，直接变Series

对于多级列索引，通过level指明要转换的columns

level 的值默认为-1（最内层）；取值从外往里 从0递增

【小技巧】使用stack()时，level等于哪个columns，哪个columns就消失，变成index（行标题）

### unstack() index -> columns 行标题变列标题（数据也会跟着标题走）

In [27]:
df.stack().unstack() # index行索引 变

      期中               期末
      一模       二模      一模       二模
      英语  语文   英语  语文  英语   语文  英语  语文
rose  47  60  123  55  91  135  55  72
jack   8  32    2  87  45   27  36  55

练习：行列互换

【小技巧】使用unstack()时，level等于哪个index，哪个index就消失，变成columns（列标题）

============================================

练习：

1. 将df变为两行，分别为期中期末

2. 将df的行和列换位置（标题层级关系不能变）

============================================

## 2. 聚合操作

【注意】

- 需要指定axis

- 【小技巧】和unstack()相反，聚合的时候，axis等于哪一个，哪一个就保留。

所谓的聚合操作：最大值，最小值，平均数……

In [ ]:
回忆一下ndarray的聚合

In [32]:
data = np.random.randint(0,5,size=(5,5))
columns = list('ABCDE')
df = DataFrame(data=data,columns=columns)
df

   A  B  C  D  E
0  4  1  4  4  1
1  3  3  1  0  1
2  1  0  1  1  0
3  1  1  3  4  1
4  1  1  3  0  3

In [37]:
df.sum() # 默认是列内容求和 
df.sum(axis=1) # 行的方向
df.mean() 
df.min()
df.max()

A    4
B    3
C    4
D    4
E    3
dtype: int32

============================================

练习11：

1. 计算期中期末各个科目平均成绩

2. 计算各科目张三李四的最高分

============================================

In [38]:
index = ['张三','李四']
columns = pd.MultiIndex.from_product([['期中','期末'],['python','php','java']])
data = np.random.randint(0,150,size=(2,6))
score = DataFrame(data=data,index=index,columns=columns)
score

       期中              期末
   python php java python php java
张三    140   5  146     92  95  103
李四     72  64  127     52  93   63