In [19]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

data = np.random.randint(0,10,size=(2,2))
columns = ["A","B"]
index = ["a","b"]
df = DataFrame(data,index=index,columns=columns)
df

   A  B
a  9  9
b  6  7

In [14]:
df["A"]
df.A
df.iloc[:,0]

0    2
1    8
Name: A, dtype: int32

In [16]:
df.iloc[:,0]

0    2
1    8
Name: A, dtype: int32

In [26]:
df.loc["a"]
df.iloc[0]
df.loc["a","A"]
df.loc["b","A"] # 行名称必须在开头
df.iloc[0,0]

9

In [33]:
df["A"] # 一定要注意 只传入一个值是对 列的索引
df[0:2] # 如果传入切片的个数 是对行的切片 start:end:step
df["a":"b"] # 切片的时候 传入数值和字符串都可以
df.iloc[:,0:2] # 如果非要对列进行切片 可以通过iloc 先 : 切片获取所有行 然后 逗号后面再对列进行切片

   A  B
a  9  9
b  6  7