引入模块

In [43]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
import matplotlib.pyplot as plt

创建示例DataFrame

In [45]:
# 用作案例 不要删 ！！！
data=np.random.randint(0,150,size=(2,8))
index=["rose","jack"]
columns=pd.MultiIndex.from_product([["期中","期末"],["一模","二模"],["语文","英语"]])
df = DataFrame(data,index,columns)
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

## 1. 索引的堆（stack）

- ``stack()``
- ``unstack()``

In [46]:
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

### stack() columns -> index 列标题变行标题（数据也会跟着标题走）

In [47]:
df.stack() # 把列的标题 放到行上

          期中        期末
          一模   二模   一模  二模
rose 英语  102   95  129  39
     语文   27   24   24  34
jack 英语  117   52  122  59
     语文  137  102  121  19

In [50]:
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

In [49]:
df.stack()

          期中        期末
          一模   二模   一模  二模
rose 英语  102   95  129  39
     语文   27   24   24  34
jack 英语  117   52  122  59
     语文  137  102  121  19

In [52]:
df.stack().stack()

             期中   期末
rose 英语 一模  102  129
        二模   95   39
     语文 一模   27   24
        二模   24   34
jack 英语 一模  117  122
        二模   52   59
     语文 一模  137  121
        二模  102   19

In [55]:
df.stack().stack().stack()

type(df.stack().stack().stack())

rose  英语  一模  期中    102
              期末    129
          二模  期中     95
              期末     39
      语文  一模  期中     27
              期末     24
          二模  期中     24
              期末     34
jack  英语  一模  期中    117
              期末    122
          二模  期中     52
              期末     59
      语文  一模  期中    137
              期末    121
          二模  期中    102
              期末     19
dtype: int32

对于单级列索引，列索引没了，直接变Series

对于多级列索引，通过level指明要转换的columns

level 的值默认为-1（最内层）；取值从外往里 从0递增

In [56]:
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

In [59]:
df.stack(level=0) # level 索引的级别 默认是-1 -1就是最里面的  level的值 从外到内 0 1 2 3
df.stack(level=1)

          期中        期末
          英语   语文   英语   语文
rose 一模  102   27  129   24
     二模   95   24   39   34
jack 一模  117  137  122  121
     二模   52  102   59   19

【小技巧】使用stack()时，level等于哪个columns，哪个columns就消失，变成index（行标题）

### unstack() index -> columns 行标题变列标题（数据也会跟着标题走）

In [60]:
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

In [61]:
df.unstack()

期中  一模  语文  rose     27
            jack    137
        英语  rose    102
            jack    117
    二模  语文  rose     24
            jack    102
        英语  rose     95
            jack     52
期末  一模  语文  rose     24
            jack    121
        英语  rose    129
            jack    122
    二模  语文  rose     34
            jack     19
        英语  rose     39
            jack     59
dtype: int32

In [64]:
df1 = df.stack().stack()
df1

             期中   期末
rose 英语 一模  102  129
        二模   95   39
     语文 一模   27   24
        二模   24   34
jack 英语 一模  117  122
        二模   52   59
     语文 一模  137  121
        二模  102   19

In [68]:
df1.unstack(level=2)
df1.unstack(level=-1)

          期中        期末
          一模   二模   一模  二模
rose 英语  102   95  129  39
     语文   27   24   24  34
jack 英语  117   52  122  59
     语文  137  102  121  19

In [69]:
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

练习：行列互换

In [75]:
df.stack().stack().stack().unstack(level=0)

          rose  jack
英语 一模 期中   102   117
      期末   129   122
   二模 期中    95    52
      期末    39    59
语文 一模 期中    27   137
      期末    24   121
   二模 期中    24   102
      期末    34    19

【小技巧】使用unstack()时，level等于哪个index，哪个index就消失，变成columns（列标题）

============================================

练习：

1. 将df变为两行，分别为期中期末

2. 将df的行和列换位置（标题层级关系不能变）

============================================

In [76]:
df

       期中                 期末
       一模        二模       一模       二模
       语文   英语   语文  英语   语文   英语  语文  英语
rose   27  102   24  95   24  129  34  39
jack  137  117  102  52  121  122  19  59

In [80]:
df.stack(level=0).unstack(level=0)

     一模                  二模
     英语        语文        英语        语文
   rose jack rose jack rose jack rose jack
期中  102  117   27  137   95   52   24  102
期末  129  122   24  121   39   59   34   19

In [91]:
df.stack(level=0).unstack(level=0).stack(level=0).stack(level=0)

          jack  rose
期中 一模 英语   117   102
      语文   137    27
   二模 英语    52    95
      语文   102    24
期末 一模 英语   122   129
      语文   121    24
   二模 英语    59    39
      语文    19    34

## 2. 聚合操作

【注意】

- 需要指定axis

- 【小技巧】和unstack()相反，聚合的时候，axis等于哪一个，哪一个就保留。

所谓的聚合操作：最大值，最小值，平均数……

In [ ]:
回忆一下ndarray的聚合
sum nansum
min
max
mean
argmin
argmax

In [92]:
data = np.random.randint(0,5,size=(5,5))
columns = list('ABCDE')
df = DataFrame(data=data,columns=columns)
df

   A  B  C  D  E
0  0  2  3  3  3
1  2  4  3  3  2
2  0  1  2  4  4
3  1  1  3  3  3
4  4  3  4  4  3

In [99]:
df.sum() # 默认是对 列进行聚合
# 如果想对 行进行聚合操作 可以调整 axis
df.sum(axis=0) # axis 默认值是0 是对列做加和
df.sum(axis=1)
df.max() 
df.min()
# df.argmax()
df.mean()
# 这些聚合操作都可以通过设置axis来切换方向

A    1.4
B    2.2
C    3.0
D    3.4
E    3.0
dtype: float64

============================================

练习11：

1. 计算期中期末各个科目平均成绩

2. 计算各科目张三李四的最高分

============================================

In [101]:
index = ['张三','李四']
columns = pd.MultiIndex.from_product([['期中','期末'],['python','php','java']])
data = np.random.randint(0,150,size=(2,6))
score = DataFrame(data=data,index=index,columns=columns)
score

       期中               期末
   python  php java python php java
张三     35  118   96     22   9   84
李四     69   85   22     17  36   50

In [103]:
score.mean()

期中  python     52.0
    php       101.5
    java       59.0
期末  python     19.5
    php        22.5
    java       67.0
dtype: float64

In [105]:
score.max()
score.max(axis=1)

张三    118
李四     85
dtype: int32