In [51]:
%whos

Variable    Type          Data/Info
-----------------------------------
DataFrame   type          <class 'pandas.core.frame.DataFrame'>
Series      type          <class 'pandas.core.series.Series'>
arrs        list          n=2
columns     MultiIndex    MultiIndex(levels=[['一班',<...> 1], [0, 1, 2, 0, 1, 2]])
data        ndarray       6x6: 36 elems, type `int32`, 144 bytes
df          DataFrame             一班            二班 <...>3   37   57   2    6  120
index       MultiIndex    MultiIndex(levels=[['期中',<...> 1], [2, 0, 1, 2, 0, 1]])
np          module        <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
pd          module        <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
plt         module        <module 'matplotlib.pyplo<...>\\matplotlib\\pyplot.py'>
s1          Series        期中  语文    100\n    英语    <...>  英语     70\ndtype: int64

# pandas层次化索引

多级索引包括: 多级行索引 和 多级列索引

## 1. 创建多层行索引

### 1) 隐式构造

最常见的方法是给DataFrame构造函数的index参数传递两个或更多的数组

- Series也可以创建多层索引

In [52]:
index = [np.array(["期中","期中","期末","期末"]),np.array(["语文","英语","语文","英语"])]
Series(np.random.randn(4),index=index)

期中  语文   -1.040400
    英语    2.320299
期末  语文    0.175998
    英语   -1.168455
dtype: float64

### 2) 显示构造pd.MultiIndex

- 使用数组

In [55]:
index = pd.MultiIndex.from_arrays([["期中","期中","期中","期末","期末","期末"],["语文","英语","数学","语文","英语","数学"]])
columns = ["张三","李四","王五","赵柳"]
data = np.random.randint(0,150,size=(6,4))
DataFrame(data,index,columns)

        张三   李四   王五   赵柳
期中 语文    3   11   71   32
   英语   38   12  145  134
   数学   44   39  119   59
期末 语文   20   17  118   35
   英语  131   95    9   15
   数学   32  144  144   47

- 使用tuple

In [57]:
index = pd.MultiIndex.from_tuples([("期中","语文"),("期中","数学"),("期中","英语"),("期末","语文"),("期末","数学"),("期末","英语")])
columns = ["张三","李四","王五","赵柳"]
data = np.random.randint(0,150,size=(6,4))
DataFrame(data,index,columns)

        张三   李四  王五   赵柳
期中 语文   92  147  59   67
   数学   86  101  30    1
   英语  100   77  11  117
期末 语文   98   16  43   51
   数学  105   12  17   85
   英语   57   91  26    9

- 使用product

    最简单，推荐使用

In [63]:
index = pd.MultiIndex.from_product([["期中","期末"],["语文","数学","英语"]])
columns = ["张三","李四","王五","赵柳"]
data = np.random.randint(0,150,size=(6,4))
df2 = DataFrame(data,index,columns)
df2

        张三  李四   王五   赵柳
期中 语文   90  15   87  115
   数学   14  42   79   20
   英语    1  48  124   16
期末 语文  107  24  130  111
   数学   88  34   30   89
   英语    1   4   34   50

============================================

练习8：

1. 创建一个DataFrame，表示出张三李四期中期末各科成绩

============================================

In [59]:
data = np.random.randint(0,150,size=(4,2))
index= pd.MultiIndex.from_product([["期中","期末"],["语文","英语"]])
columns = ["张三","李四"]
DataFrame(data,index,columns)

        张三   李四
期中 语文  146   75
   英语   74  122
期末 语文   34   41
   英语   64   14

## 2. 多层列索引

除了行索引index，列索引columns也能用同样的方法创建多层索引

In [61]:
data = np.random.randint(0,150,size=(2,4))
index= pd.MultiIndex.from_product([["期中","期末"],["语文","英语"]]) # 多层索引
columns = ["张三","李四"] #单层索引
df1 = DataFrame(data=data,index=columns,columns=index)

     期中       期末
     语文  英语   语文   英语
张三   50  12   89   99
李四  119   9  133  102

## 3. 多层索引对象的索引与切片操作

### 1）Series的操作

【重要】对于Series来说，直接中括号[]与使用.loc()完全一样，推荐使用.loc中括号索引和切片。

(1) 索引

In [65]:
df2

        张三  李四   王五   赵柳
期中 语文   90  15   87  115
   数学   14  42   79   20
   英语    1  48  124   16
期末 语文  107  24  130  111
   数学   88  34   30   89
   英语    1   4   34   50

In [74]:
# 从列入手
df2["张三"] # 找出来的是个Series 这个Series有多重行索引
# type(df2["张三"])
df2["张三"].loc["期中"].loc["语文"]
# 从行入手
df2.loc["期中"]["张三"]
df2.loc["期中"].loc["语文"]

张三     90
李四     15
王五     87
赵柳    115
Name: 语文, dtype: int32

(2) 切片

In [76]:
df2

        张三  李四   王五   赵柳
期中 语文   90  15   87  115
   数学   14  42   79   20
   英语    1  48  124   16
期末 语文  107  24  130  111
   数学   88  34   30   89
   英语    1   4   34   50

In [78]:
df2[0:4]

        张三  李四   王五   赵柳
期中 语文   90  15   87  115
   数学   14  42   79   20
   英语    1  48  124   16
期末 语文  107  24  130  111

### 2）DataFrame的操作

In [86]:
data = np.random.randint(0,150,size=(6,6))
index = pd.MultiIndex.from_product([["期中","期末"],["语文","数学","英语"]])
columns = pd.MultiIndex.from_product([["一班","二班"],["01","02","03"]])
df1 = DataFrame(data=data,index=index,columns=columns)
df1

        一班             二班
        01   02   03   01   02   03
期中 语文   92  119   31   12   27  119
   数学  124  109    9  138   88  130
   英语    4  118    9   64   17  123
期末 语文  104   84   11  108   15   84
   数学    8   26  103   15  141   77
   英语  135    3   87   65   79   92

(1) 可以直接使用列名称来进行列索引

In [92]:
df1["一班"] # 开始的时候只能传 最外层的
# df1["01"]
df1["一班"]["01"]

期中  语文     92
    数学    124
    英语      4
期末  语文    104
    数学      8
    英语    135
Name: 01, dtype: int32

In [87]:
df1

        一班             二班
        01   02   03   01   02   03
期中 语文   92  119   31   12   27  119
   数学  124  109    9  138   88  130
   英语    4  118    9   64   17  123
期末 语文  104   84   11  108   15   84
   数学    8   26  103   15  141   77
   英语  135    3   87   65   79   92

行多级索引的索引和切片操作

In [103]:
df1.loc["期中"] # 一开始的时候只能找最外层的
# df1.loc["语文"]
df1.loc["期中"].loc["语文"]
df1.loc["期中"][0:2]
df1.loc["期中"].iloc[:,0:2]

     一班
     01   02
语文   92  119
数学  124  109
英语    4  118

(2) 使用行索引需要用loc()等函数

【重要】推荐使用loc()函数

============================================

练习9：

1. 分析比较Series和DataFrame各种索引的方式，熟练掌握.loc()方法

2. 假设张三再一次在期中考试的时候因为特殊原因放弃英语考试，如何实现？

============================================