引入三剑客

In [105]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# 处理丢失数据

## 1.有两种丢失数据：
- None: Python自带的数据类型 不能参与到任何计算中
- np.nan(NaN): float类型 能参与计算，但结果总是NaN

In [106]:
np.nan + 9

nan

## 2. np.nan（NaN）

数组直接运算会得到nan，但可以使用np.nan*()函数来计算nan，此时视nan为0。

In [108]:
ndarr1 = np.array([1,2,3,np.nan])
ndarr1
np.sum(ndarr1)

nan

In [109]:
np.nansum(ndarr1) # nan*()遇到nan会把nan当作0来处理

6.0

Series和DataForm可以直接处理nan

In [111]:
s1 = Series([1,2,3,np.nan])
s1.sum() #Series 直接可以处理nan的情况

6.0

In [113]:
df1 = DataFrame([1,2,3,np.nan])
df1.sum() #DataFrame 直接可以处理nan的情况

0    6.0
dtype: float64

## 3. pandas中的None与NaN

### 1) pandas中None与np.nan都视作np.nan

用randint创建一个5*5的DataFrame作为例子

In [80]:
df1 = DataFrame(data=np.random.randint(0,20,size=(5,5)),columns=list("abcde"))
df1

    a   b   c   d   e
0  17   7   2  15  15
1  15  11   8  11   6
2   6  11   3   2   0
3   7  18  13  17  10
4   0   2   9  17   2

使用DataFrame行索引与列索引修改一下DataFrame数据（弄出来一些None和NaN）

### 2) pandas中None与np.nan的操作

- ``isnull()``
- ``notnull()``
- ``dropna()``: 过滤丢失数据
- ``fillna()``: 填充丢失数据

(1)判断函数
- ``isnull()``
- ``notnull()``

配合any使用，可以查看每一行是否存在空值
可以控制axis来改变查看方向

(2) 过滤函数
- ``dropna()``

可以选择过滤的是行还是列（默认为行）

也可以选择过滤的方式 how = 'all'

(3) 填充函数 Series/DataFrame
- ``fillna()``

可以指定value

也可以选择从前面找值来填充还是从后面找值来填充

还可以指定是在寻找值时候的轴线

还可以限定最多往前（往后）填充几个NaN

对于DataFrame来说，还要选择填充的轴axis。记住，对于DataFrame来说：

- axis=0：index/行
- axis=1：columns/列

In [142]:
# 使用limit来限定往后找几个
# axis 指定是横着找还是竖着找
# method 指定找前面还是找后面
# 注意：value参数是不能跟method参数共用的
df.fillna(method='bfill',axis=1,limit=1)

      A     B     C     D     E
0   NaN   NaN   NaN   NaN   NaN
1  38.0   8.0  39.0  70.0  70.0
2  92.0   NaN   NaN  80.0  80.0
3  41.0  16.0  16.0  21.0  68.0
4  41.0  45.0  13.0   6.0  62.0

============================================

练习7：

1. 简述None与NaN的区别

2. 假设张三李四参加模拟考试，但张三因为突然想明白人生放弃了英语考试，因此记为None，请据此创建一个DataFrame,命名为df3

3. 老师决定根据用数学的分数填充张三的英语成绩，如何实现？
    用李四的英语成绩填充张三的英语成绩？

============================================